### 정규식

- 정규 표현식(Regular Expression)
- 복잡한 문자열을 처리할 때 사용하는 기법
    - 문자열에서 원하는 데이터만 추출, 가공, 삭제 <= 전처리 / 정제

In [62]:
# 1. 모듈 가져오기
import re

In [63]:
text_txt = '''BTS (Korean: 방탄소년단; RR: Bangtan Sonyeondan), also known as the Bangtan Boys, is a seven-member South Korean boy band formed in Seoul in 2013. The septet co-writes and produces much of their output. Originally a hip hop group, their musical style has evolved to include a wide range of genres. Their lyrics, often focused on personal and social commentary, touch on the themes of mental health, troubles of school-age youth, loss, the journey towards loving oneself, and individualism. Their work features references to literature and psychological concepts and includes an alternative universe storyline. The group have staged several world tours.
The group initially formed as teenagers under Big Hit Entertainment and released their debut single album, 2 Cool 4 Skool (2013). Subsequent work such as their first U.S. Billboard 200 entries The Most Beautiful Moment in Life, Part 2 (2015), The Most Beautiful Moment in Life: Young Forever (2016), and Wings (2016) helped establish BTS' reputation as a socially conscious group. Wings became BTS' first album to sell one million copies in South Korea. By 2017, BTS crossed into the international music market, leading the Korean Wave into the United States and breaking numerous sales records, becoming the first Korean group to receive a certification from the Recording Industry Association of America (RIAA) for their single "Mic Drop". The band is the first Korean act to top the Billboard 200 with their studio album Love Yourself: Tear (2018) and have since hit the top of the U.S. charts with their albums Love Yourself: Answer (2018) and Map of the Soul: Persona (2019), making BTS the first group since the Beatles to earn three number one albums in less than a year. Love Yourself: Answer also broke South Korea's Gaon Album Chart's all-time monthly record previously set by Love Yourself: Tear and became the first Korean album certified Gold in the United States.
According to the Gaon Music Chart, BTS has sold sixteen million albums domestically in physical sales and is the best-selling artist to debut in the 2010s.[3] They hold the best-selling album in Korean history with Map of the Soul: Persona. BTS were the second best-selling artists of 2018 worldwide according to the IFPI's Global Artist Chart, as well as the only non-English speaking artist to enter the chart. The group has won Top Social Artist three years in a row and Top Duo/Group at the 26th Billboard Music Awards. Featured on Time's international cover as "Next Generation Leaders", BTS has appeared in the magazine's 25 most influential people on the internet (2017–2019) and Time's 100 most influential people in the world (2019). Forbes Korea named BTS the most influential celebrities of Korea in 2018, and BTS ranked 43rd in the Forbes Celebrity 100 (2019) as one of the world's top-earning celebrities. BTS are ranked #4 of Billboard's Top Social Artist of the 2010s, and are the highest group on the list. During their Love Yourself World Tour, BTS became the first Asian and first non-English speaking act to headline and sell out Wembley Stadium; and broke the record for the single highest-grossing engagement in Rose Bowl Stadium history. Billboard ranked BTS at #45 on their Top Touring Artists of the 2010s list, being the highest-ranked Asian as well as the only non-English speaking act on the list. As of 2019, BTS are purportedly worth more than $4.65 billion to South Korea's economy each year, or 0.3 percent of the country's GDP. BTS attracted one in every 13 foreign tourists that visited South Korea and were cited as one of the key acts boosting global music sales to $19 billion in 2018.
Following the establishment of their Love Myself anti-violence campaign in partnership with UNICEF, BTS addressed the United Nations 73rd General Assembly and became the youngest ever recipients of the Order of Cultural Merit from the President of South Korea due to their contributions in spreading Korean culture and language.
'''
text_txt[:100]

'BTS (Korean: 방탄소년단; RR: Bangtan Sonyeondan), also known as the Bangtan Boys, is a seven-member South'

In [61]:
# 원문에서 한글 제거
# 한글 초성 + 중성 + 종성 => euc-kr, 16bit => 조합형 코드
# 한글 가,갸,거,겨,       => utf-8 ,  8bit => 완성형 코드
# 완성형 기준 => ㄱ -> ㅣ가 ~ 힣
hangul=re.compile('[ㄱ-ㅣ|가-힣]+')
alpha =re.compile('[a-z|A-Z]+')

In [64]:
hangul.sub('',text_txt)
# 원문에서 한글 제거, sub 메서드는 정규식과 매치되는 부분을 다른 문자로 바꿈

'BTS (Korean: ; RR: Bangtan Sonyeondan), also known as the Bangtan Boys, is a seven-member South Korean boy band formed in Seoul in 2013. The septet co-writes and produces much of their output. Originally a hip hop group, their musical style has evolved to include a wide range of genres. Their lyrics, often focused on personal and social commentary, touch on the themes of mental health, troubles of school-age youth, loss, the journey towards loving oneself, and individualism. Their work features references to literature and psychological concepts and includes an alternative universe storyline. The group have staged several world tours.\nThe group initially formed as teenagers under Big Hit Entertainment and released their debut single album, 2 Cool 4 Skool (2013). Subsequent work such as their first U.S. Billboard 200 entries The Most Beautiful Moment in Life, Part 2 (2015), The Most Beautiful Moment in Life: Young Forever (2016), and Wings (2016) helped establish BTS\' reputation as a socially conscious group. Wings became BTS\' first album to sell one million copies in South Korea. By 2017, BTS crossed into the international music market, leading the Korean Wave into the United States and breaking numerous sales records, becoming the first Korean group to receive a certification from the Recording Industry Association of America (RIAA) for their single "Mic Drop". The band is the first Korean act to top the Billboard 200 with their studio album Love Yourself: Tear (2018) and have since hit the top of the U.S. charts with their albums Love Yourself: Answer (2018) and Map of the Soul: Persona (2019), making BTS the first group since the Beatles to earn three number one albums in less than a year. Love Yourself: Answer also broke South Korea\'s Gaon Album Chart\'s all-time monthly record previously set by Love Yourself: Tear and became the first Korean album certified Gold in the United States.\nAccording to the Gaon Music Chart, BTS has sold sixteen million albums domestically in physical sales and is the best-selling artist to debut in the 2010s.[3] They hold the best-selling album in Korean history with Map of the Soul: Persona. BTS were the second best-selling artists of 2018 worldwide according to the IFPI\'s Global Artist Chart, as well as the only non-English speaking artist to enter the chart. The group has won Top Social Artist three years in a row and Top Duo/Group at the 26th Billboard Music Awards. Featured on Time\'s international cover as "Next Generation Leaders", BTS has appeared in the magazine\'s 25 most influential people on the internet (2017–2019) and Time\'s 100 most influential people in the world (2019). Forbes Korea named BTS the most influential celebrities of Korea in 2018, and BTS ranked 43rd in the Forbes Celebrity 100 (2019) as one of the world\'s top-earning celebrities. BTS are ranked #4 of Billboard\'s Top Social Artist of the 2010s, and are the highest group on the list. During their Love Yourself World Tour, BTS became the first Asian and first non-English speaking act to headline and sell out Wembley Stadium; and broke the record for the single highest-grossing engagement in Rose Bowl Stadium history. Billboard ranked BTS at #45 on their Top Touring Artists of the 2010s list, being the highest-ranked Asian as well as the only non-English speaking act on the list. As of 2019, BTS are purportedly worth more than $4.65 billion to South Korea\'s economy each year, or 0.3 percent of the country\'s GDP. BTS attracted one in every 13 foreign tourists that visited South Korea and were cited as one of the key acts boosting global music sales to $19 billion in 2018.\nFollowing the establishment of their Love Myself anti-violence campaign in partnership with UNICEF, BTS addressed the United Nations 73rd General Assembly and became the youngest ever recipients of the Order of Cultural Merit from the President of South Korea due to their contributions in spreading Korean culture and language.\n'

In [65]:
# 한글을 ''으로 대체해라 -> 제거해라
hangul.sub('', text_txt)[:100]

'BTS (Korean: ; RR: Bangtan Sonyeondan), also known as the Bangtan Boys, is a seven-member South Kore'

In [66]:
alpha.sub('',text_txt)[:100]

' (: 방탄소년단; :  ),      ,   -         2013.   -      .     ,            .  ,       ,       ,   - , ,  '

- 메타문자 (Meta Characters)
    - 일반표현 : | . ^ $ * + ? {} () [] ...
    - 이스케이프 표현 : \d \D \s \S \w \W \b \B ...
    
- 함수
    - match()
    - search()
    - findall()
    - finditer()
    - sub()
    
- 그룹핑
- 전방탐색
    - 긍정형 전방 탐색
    - 부정형 전방 탐색

- 1. 데이터를 보고 <= 통찰
- 2. 데이터를 보고 정제 및 추출을 할 수 있는 표현식을 구현한 후 <= 정규식 구현
- 3. 함수를 써서 데이터를 획득함 <= 최종 추출

### 메타문자
- **|**
- 의미 : or

In [67]:
# re.match(정규식, 데이터) => True/False
# re.match() : 특정 패턴이 데이터에 적용이 되었는지를 검사
if re.match('a|b|c','a'): print('1. 매치된다') 
if re.match('a|b|c','b'): print('2. 매치된다')
if re.match('a|b|c','c'): print('3. 매치된다')
    # a|b|c => a or b or c

1. 매치된다
2. 매치된다
3. 매치된다

In [68]:
if re.match('a|b|c','d'): print('4. 매치된다') 
    # a,b,c 중 하나도 없기 때문에 출력할 게 없음 -> False
if re.match('a|b|c','ad'): print('5. 매치된다') 
    # a가 있으므로 '5. 매치된다'를 프린트함
    # a, b, c 중 문자 하나가 가장 먼저 시작함(첫 글자) -> True
if re.match('a|b|c','da'): print('6. 매치된다')

5. 매치된다

- **[]**
- 의미 : 문자 클래스
- [와 ] 것 사이에는 어떤 문자도 들어갈 수 있다
- []는 문자 한 개를 의미함
- match(시작 단어), search(전체 중에 일치되는 단어)를 사용할 경우 한 개만 일치되어도 참

In [69]:
# 문자열은 a,b,c 중에 하나가 시작문자여야 함
if re.match('[abc]','a'): print('1. 매치된다')
if re.match('[abc]','efz'): print('2. 매치된다') # 시작문자 중에 a,b,c가 없음
if re.match('[abc]','abd'): print('3. 매치된다')
if re.match('[abc]','b56'): print('4. 매치된다')

# 검색하였을 때 문자가 하나라도 존재하면 '매치된다'를 출력
if re.search('[abc]', '56b'): print('5. 매치된다')

1. 매치된다
3. 매치된다
4. 매치된다
5. 매치된다

- **-**
- 의미 : [] 문자클래스 안에 두 개의 문자 사이에 표현
- from ~ to : 어디서부터 어디까지 범위를 표현

In [70]:
if re.match('[0123456789]','1'): print('1. 매치된다')
if re.match('[0-9]','1'): print('2. 매치된다')

1. 매치된다
2. 매치된다

In [71]:
if re.match('[a-zA-Z]','1'): print('3. 매치된다')
if re.match('[a-zA-Z]','B'): print('4. 매치된다')

4. 매치된다

In [72]:
if re.match('[0-9a-z]','Aa'): print('5. 매치된다')

if re.search('[0-9a-z]','Aa'): print('6. 매치된다')
    # 문자열 내에 존재하기만 하면 체크됨(search)

6. 매치된다

In [73]:
# 한글 완성형 코드(utf-8)
if re.match('[ㄱ-힣]','가나다bc'): print('7. 매치된다')

7. 매치된다

- **.**

- 의미 : dot(.) 줄바꿈 기호 \n를 제외하고 모든 문자에 매치
    => [] 문자 클래스가 아닌 곳에서 해당.
- 문자 클래스 내부에서는 .은 .이다

In [74]:
if re.match('[a.b]','a'): print('1. 매치된다')
if re.match('[a.b]','b'): print('2. 매치된다')
if re.match('[a.b]','c'): print('3. 매치된다')
    
if re.match('[a.b]','ab'): print('4. 매치된다')
if re.match('[a.b]','a1b'): print('5. 매치된다')
if re.match('[a.b]','abc'): print('6. 매치된다')
if re.match('[a.b]','bcd'): print('7. 매치된다')
if re.match('[a.b]','cab'): print('8. 매치된다')

1. 매치된다
2. 매치된다
4. 매치된다
5. 매치된다
6. 매치된다
7. 매치된다

In [75]:
# a 문자 b라는 형태로 출발해야 통과
if re.match('a.b','a'): print('1. 매치된다')
if re.match('a.b','abc'): print('2. 매치된다')
if re.match('a.b','a1b'): print('3. 매치된다')
if re.match('a.b','a2be'): print('4. 매치된다')
    
    # a.b : .대신에 다른걸로 채워도 무조건 나옴

3. 매치된다
4. 매치된다

- **^**
- 의미 : 일반 문자열 => 문자열의 맨 처음과 일치함을 의미
         문자 클래스내 => 배제, 해당 문자 배제
         re.MULTILINE => 각 라인의 처음과 일치함을 조사
         
- **&**
- 의미 : 문자열의 맨 끝과 일치
        
- *
- 의미 : *를 붙인 바로 앞 문자 0 ~ 무한대
        
- **+**
- 의미 : +를 붙인 바로 앞 문자 1 ~ 무한대
-        문자열 클래스 내부에서 기술하면, 단순 +가 될 수도 있고
         , 반복의 의미가 될 수도 있음(주변값을 고려해서 해석)

In [81]:
# 숫자나 .으로 시작하고 끝난다
if re.match('^[0-9\.]$','1'): print('1. 매치된다')
    # $는 문자열의 끝과 매치함을 의미함
    # 숫자로 시작해서 숫자로 끝남

1. 매치된다

In [82]:
if re.match('^[0-9\.]$','.'): print('2. 매치된다')

2. 매치된다

In [83]:
# 문자열은 1개 -> 문자의 수량에서 False가 되었다 => 해결방안 : * or +
if re.match('^[0-9\.]$','11'): print('1. 매치된다')
if re.match('^[0-9\.]$','1.'): print('2. 매치된다')
if re.match('^[0-9\.]$','.1'): print('3. 매치된다')
if re.match('^[0-9\.]$','..'): print('4. 매치된다')

In [84]:
if re.match('^[0-9\.]+$','11'): print('1. 매치된다')
if re.match('^[0-9\.]+$','1.'): print('2. 매치된다')
if re.match('^[0-9\.]*$','.1'): print('3. 매치된다')
if re.match('^[0-9\.]*$','..'): print('4. 매치된다')

1. 매치된다
2. 매치된다
3. 매치된다
4. 매치된다

In [85]:
# 정규식의 패턴이 늘어감에 따라 match는 종합적인 조건을 따지게 됨
# 시작문자 and 끝문자 and 문자 수 and 문자 성분
if re.match('^[0-9\.]*$','.asdf.'): print('4. 매치된다')

In [86]:
# [^0-9] : 숫자를 제외하고 모든 문자가 시작문자가 될 수 있음(배제)
if re.match('[^0-9]', '1'): print('1. 매치된다')
if re.match('[^0-9]', '가'): print('2. 매치된다')
if re.match('[^0-9]', 'a'): print('3. 매치된다')
if re.match('[^0-9]', 'ab'): print('4. 매치된다')

2. 매치된다
3. 매치된다
4. 매치된다

In [87]:
data = '''류현진 국내 매니지먼트를 담당하는 에이스펙 코퍼레이션은 24일 “류현진이 25일 출국할 예정”이라고 밝혔다. 행선지는 캐나다 온라리오주 토론토다.
현지에 도착 후 메디컬테스트를 받고, 이상이 발견되지 않으면 현지에서 입단 기자회견까지 진행할 계획이다.
류현진 야구 선수는 23일 토론토와 4년 8000만달러(약 929억4000만원)에 입단하기로 합의했다. 구단은 아직 공식 발표하지 않았으나 미국과 캐나다 현지 언론에서 계약 성사를 기정사실화하는 보도가 이어졌다.
류현진 선수는 LA 다저스에서 활동하며 2015년 어깨 수술을 받았다. 현지 언론은 수술 이력을 단점으로 꼽았으나 올해 29경기에 등판해 182⅔이닝을 소화하며 14승 5패 평균자책점 2.32를 올리며 완벽한 부활을 증명했다.
류현진 메디컬테스트를 통과하면 한국인 투수 FA 역대 최대 규모 계약의 주인공이 된다. 한국인 투수 FA 최대 규모 계약은 박찬호가 2001년 12월 21일, 텍사스 레인저스와 맺은 5년 6500만달러다.
'''
data
# 특정 단어가 시작문자로 여러 줄에 걸쳐서 등장함

'류현진 국내 매니지먼트를 담당하는 에이스펙 코퍼레이션은 24일 “류현진이 25일 출국할 예정”이라고 밝혔다. 행선지는 캐나다 온라리오주 토론토다.\n현지에 도착 후 메디컬테스트를 받고, 이상이 발견되지 않으면 현지에서 입단 기자회견까지 진행할 계획이다.\n류현진 야구 선수는 23일 토론토와 4년 8000만달러(약 929억4000만원)에 입단하기로 합의했다. 구단은 아직 공식 발표하지 않았으나 미국과 캐나다 현지 언론에서 계약 성사를 기정사실화하는 보도가 이어졌다.\n류현진 선수는 LA 다저스에서 활동하며 2015년 어깨 수술을 받았다. 현지 언론은 수술 이력을 단점으로 꼽았으나 올해 29경기에 등판해 182⅔이닝을 소화하며 14승 5패 평균자책점 2.32를 올리며 완벽한 부활을 증명했다.\n류현진 메디컬테스트를 통과하면 한국인 투수 FA 역대 최대 규모 계약의 주인공이 된다. 한국인 투수 FA 최대 규모 계약은 박찬호가 2001년 12월 21일, 텍사스 레인저스와 맺은 5년 6500만달러다.\n'

In [94]:
# 정규식을 컴파일하고 이를 이용하여 데이터를 처리함
# \s : whitespace(공백, 탭, ...)
# \w : 한 단어(+와 *를 통해서 늘릴 수 있음)
# 류현진으로 시작하고 한 칸 띄우고 한 단어까지 시작하는 문자열

p = re.compile('^류현진\s\w+')
p.findall(data)
# 한번밖에 나오지 않음 => 멀티 라인 미지원

['류현진 국내']

In [93]:
# 문자열 전체에 동일 패턴이 보이면 다 수집
p = re.compile('류현진\s\w+', re.MULTILINE)
p.findall(data)

['류현진 국내', '류현진 야구', '류현진 선수는', '류현진 메디컬테스트를']

In [95]:
# $ : 문자열의 끝 패턴
if re.match('^[0-9]+[a-z]+$', '1'): print('1. 매치된다')
    # 숫자로 시작해서 알파벳으로 끝나야 한다
if re.match('^[0-9]+[a-z]+$', '11'): print('2. 매치된다')
if re.match('^[0-9]+[a-z]+$', '111A'): print('3. 매치된다')
if re.match('^[0-9]+[a-z]+$', '111a'): print('4. 매치된다')

4. 매치된다

In [97]:
# 반복
# * : 0~무한대
if re.match('bus*an','buan'): print('1. 매치된다')
if re.match('bus*an','busan'): print('2. 매치된다')
if re.match('bus*an','bussan'): print('3. 매치된다')

1. 매치된다
2. 매치된다
3. 매치된다

In [98]:
# + : 1~무한대
if re.match('bus+an','buan'): print('1. 매치된다')
if re.match('bus+an','busan'): print('2. 매치된다')
if re.match('bus+an','bussan'): print('3. 매치된다')

2. 매치된다
3. 매치된다

- {}
    - 반복 횟수 지정
    - {2} 2번 반복
    - {2, 3} 2부터 3까지 반복 
- ?
    - {0,1}
    - 0번 OK, 1번 OK
    - 안 나오던지, 나오면 1번만 나오던지

In [99]:
if re.match('bus{2}an','buan'): print('1. 매치된다') 
if re.match('bus{2}an','busan'): print('2. 매치된다')
if re.match('bus{2}an','bussan'): print('3. 매치된다') 
    # s를 두번 반복하므로 '3. 매치된다' 출력함 (True)

3. 매치된다

In [100]:
# 문자 클래스 안에는 본질적인 의미가 없어진다(그냥 문자로 봄)
if re.match('[bus{2}an]','buan'): print('1. 매치된다')
    # 첫 글자가 b이므로'1. 매치된다'를 출력함

1. 매치된다

In [101]:
# m~n까지
if re.match('bus{2,3}an','buan'): print('1. 매치된다')
if re.match('bus{2,3}an','busan'): print('2. 매치된다')
if re.match('bus{2,3}an','bussan'): print('3. 매치된다')
    # s를 두 번 반복하므로 '5. 매치된다' 출력함 (False)
if re.match('bus{2,3}an','busssan'): print('4. 매치된다')
    # s를 세 번 반복하므로 '5. 매치된다' 출력못함 (False)
if re.match('bus{2,3}an','bussssan'): print('5. 매치된다')
    # s를 네 번 반복하므로 '5. 매치된다' 출력못함 (False)

3. 매치된다
4. 매치된다

In [102]:
if re.match('bus{2,4}an','buan'): print('1. 매치된다') # s가 없음 => 오류
if re.match('bus{2,4}an','busan'): print('2. 매치된다') # s가 한번만 나옴 => 오류
if re.match('bus{2,4}an','bussan'): print('3. 매치된다') # s가 두번 나옴
if re.match('bus{2,4}an','busssan'): print('4. 매치된다')
if re.match('bus{2,4}an','bussssan'): print('5. 매치된다')

3. 매치된다
4. 매치된다
5. 매치된다

In [105]:
if re.match('bus?an','buan'): print('1. 매치된다')
if re.match('bus?an','busan'): print('2. 매치된다')
if re.match('bus?an','bussan'): print('3. 매치된다')
    # s가 두 번 반복하므로 '3. 매치된다' 출력못함 (False)
    # ?는 0번 아니면 1번만

1. 매치된다
2. 매치된다

### 메타문자 > 이스케이프

- \d <-> \D
- \s <-> \S
- \w <-> \W
- \b <-> \B
- 기타
    - 문자클래스 []에서 특수문자, whitespace 등을 표현할 때
    - =>\\ 이런 식으로 표현할 수 있다

In [107]:
# \d : 숫자 => [0-9]
if re.match('[\d]', '1'): print('1. 매치된다')
if re.match('[\d]', 'a'): print('2. 매치된다')

1. 매치된다

In [108]:
# \D : 숫자 말고 나머지 => [^0-9]
if re.match('[\D]', '1'): print('1. 매치된다')
if re.match('[\D]', 'a'): print('2. 매치된다')

2. 매치된다

In [109]:
# \s -> whitespace : \t, \n, \r, \f, \v
# 수평탭, 개행, 캐리지 리턴, 폼 피드, 수직탭
# => 눈에 보이지 않고, 공백처럼 보이면서 문자열 상에 정보를 제공
if re.match('[\s]', ' \t\n\r\f\v'): print('1. 매치된다')
if re.match('[\s]', 'a \t\n\r\f\v'): print('2. 매치된다')

1. 매치된다

In [110]:
# \S -> whitespace가 아닌 문자
if re.match('[\S]', ' \t\n\r\f\v'): print('1. 매치된다')
if re.match('[\S]', 'a \t\n\r\f\v'): print('2. 매치된다')

2. 매치된다

In [111]:
# \w -> 문자, 숫자와 매치 : [a-zA-Z0-9ㄱ-힣], 언어면 다 OK
if re.match('[\w]','a0'): print('1. 매치된다')
if re.match('[\w]','가'): print('2. 매치된다')
if re.match('[\w]','1'): print('3. 매치된다')
if re.match('[\w]','a'): print('4. 매치된다')

1. 매치된다
2. 매치된다
3. 매치된다
4. 매치된다

In [112]:
# \W -> 문자, 숫자가 아닌 문자와 매치 ex) 특수문자, 이스케이프 문자
# [^a-zA-Z0-9ㄱ-힣]
if re.match('[\W]','a'): print('5. 매치된다')
if re.match('[\W]','\t'): print('6. 매치된다')
    # 이스케이프 문자이므로 '6. 매치된다'를 출력함(True)

6. 매치된다

In [113]:
# 일반 문자열은 인용부호(예 : 줄바꿈, ...)는 해석되서 처리됨
a = 'ABC가나다\t]\n라'
print(a)

ABC가나다	]
라

In [114]:
# 만약 데이터 그대로 받고 싶다면 
# Raw String 사용함(r 사용). 이 때, 이스케이프 문자가 적용되지 않는다
a = r'ABC가나다\t]\n라'
print(a, type(a))

ABC가나다\t]\n라 <class 'str'>

In [120]:
# \b 단어구분자(Word Boundary)
# 일단 단어는 whitespace로 구분됨
# \b는 일반단어에서 백키로 인식한다 이 자체를 그대로 인식하게 하기 위해서
# raw string으로 표현해야 한다
p = re.compile(r'\bclass\b')
# 앞뒤가 whitespace로 구분된 class라는 단어와 매치됨을 의미함

In [121]:
m = p.search('no class at 1234')
print(m, m.group())

<re.Match object; span=(3, 8), match='class'> class

In [122]:
#다른 예제
p2 = re.compile(r'\bat\b')

In [123]:
n = p2.search('no class at 1234')
print(n, n.group())

<re.Match object; span=(9, 11), match='at'> at

In [117]:
m = p.search('the classifier at one')
print(m)

None

### 함수

- match()
    - 문자열의 처음부터 정규식과 매칭되는지 조사
- search()
    - 문자열 전체를 검색하여 매칭되는지 조사
- findall()
    - 정규식에 매칭되는 모든 문자열을 리스트로 리턴
- finditer()
    - 정규식에 매칭되는 모든 문자열을 iterator로 리턴
- sub()
    - 규칙과 매칭되는 부분을 다른 문자로 변경

In [124]:
# 숫자가 나오고 1~무한대로 반복될 수 있음
p = re.compile('[0-9]+')

In [125]:
r = p.match('abcd5')
print(r)

None

In [126]:
r = p.match('5')
print(r)
if r:
    print(r.group(), '일치되는 데이터가 나온다')

<re.Match object; span=(0, 1), match='5'>
5 일치되는 데이터가 나온다

In [127]:
r = p.match('123abcd')
print(r)
if r:
    print(r.group(), '일치되는 데이터가 나온다')
else :
    print('일치되는 데이터가 없다')

<re.Match object; span=(0, 3), match='123'>
123 일치되는 데이터가 나온다

In [131]:
data = 'i am a HuMan. 2020 가나다라마바사 !@#$'
# 소문자만 찾아서, 소문자 글자 리스트를 리턴

In [132]:
p = re.compile('[a-z]+')

In [133]:
a = p.match(data)
a # 한 문자만 찾음

In [137]:
p.findall(data) # 모든 매치를 찾아 리스트로 변환

['i', 'am', 'a', 'u', 'an']

In [135]:
r = p.finditer(data) # 모든 매치를 찾아 반복가능 객체로 반환
for n in r:
    # 실제값, 시작인덱스 끝인덱스, 인덱스 튜플값
    print(n.group(), n.start(), n.end(),n.span())
    # group() : 매치된 문자열을 돌려줌
    # start() : 매치된 문자열의 시작 위치를 돌려줌
    # end() : 매치된 문자열의 끝 위치를 돌려줌
    # span() : 매치된 문자열의 (시작, 끝)에 해당하는 튜플을 돌려줌

i 0 1 (0, 1)
am 2 4 (2, 4)
a 5 6 (5, 6)
u 8 9 (8, 9)
an 10 12 (10, 12)

In [138]:
# 숫자만 추출할 경우
q = re.compile('[0-9]+')

In [139]:
b = q.match(data)
b

In [140]:
q.findall(data)

['2020']

In [141]:
# 매치되는 부분을 다른 문자로 변경
p2 = re.compile('(blue|red|white)')

In [142]:
# 문자열 대체
p2.sub('색상','white 케이크 그리고 red 와인을 가지고 집에 가세요')

'색상 케이크 그리고 색상 와인을 가지고 집에 가세요'

In [143]:
# 문자열 제거 : sub는 문자열에서 매치된 텍스트를 다른 텍스트로 치환할 때 사용
p2.sub('','white 케이크 그리고 red 와인을 가지고 집에 가세요')

' 케이크 그리고  와인을 가지고 집에 가세요'

In [144]:
text_txt[:20], len(text_txt)

('BTS (Korean: 방탄소년단; ', 3977)

In [150]:
# 한글
# han = re.compile('[ㄱ-힣\n:;(),.0-9-]+')
# 문자 클래스 내에 특수문자 표시 앞에 \를 추가하거나 빼도 상관없음
han = re.compile('[ㄱ-힣\n\:\;\(\)\,\.0-9\-]+')

In [152]:
# Ascil를 이용하여 특수문자의 값의 범위를 활용하여 제거 가능
# 비 영어권은 유니코드 혹은 완성형 코드의 수치값 범위를 활용하여 제거함
# 언어권 유니코드는 \u값(16진수0x를 제외한)-\u값
# 16진수로 특수문자 범위표시 \x값-\x값
han = re.compile('[ㄱ-힣\x3A-\x3F]+')
han.sub('',text_txt)[:100]

'BTS (Korean  RR Bangtan Sonyeondan), also known as the Bangtan Boys, is a seven-member South Korean '

### 그룹핑
- 그룹을 만들어주는 메타 문자()

In [154]:
p = re.compile('(123)+')

In [155]:
m = p.search('123123123123 123123 check?')
m

In [179]:
m.group(), m.group(0), m.group(1)

IndexError: no such group

- m.group(0)
    - 매칭된 모든 문자열
- m.group(1)
    - 첫번째 그룹의 문자열
- m.group(2)
    - 두번째 그룹의 문자열
- m.group(n)
    - n번째 그룹의 문자열

In [157]:
m.group(2)

IndexError: no such group

In [181]:
# if)
p = re.compile('(123)+(123)+')
m = p.search('123123123123 123123 check?')
m.group(), m.group(0), m.group(1), m.group(2)

('123456', '123456', '123', '456')

In [210]:
# 이 표현대로 문자열을 표현한다면?
p = re.compile(r'\w+\s+\d+[-]\d+[-]\d+\s+[\w\s]+')
# \w : 영문 대소문자, 숫자, 밑줄문자
# \s : 공백(스페이스), \t, \n, \r, \f, \v
# \d : 모든 숫자
# [\w\s] : \w를 여러 번 쓸 필요 없이 [\w]를 사용함

In [211]:
m = p.search('부산대역 010-1234-5678 abcd ')

In [213]:
m.group()

'부산대역 010-1234-5678 abcd '

In [214]:
m.groups()
# 그룹이 없다 -> 정규식에 그룹화 표현이 없다

()

In [215]:
m.group(0)

'부산대역 010-1234-5678 abcd '

In [163]:
# 전화번호 중 가운데 번호를 획득
m.group().split()[1].split('-')[1]
# First, 공백 기준으로 자름 '010-1234-5678'가 나옴
# Second, '-' 기준으로 자름 '1234'가 나옴

'1234'

- 위의 방식은 정규식 자체가 그룹화 되지 않아서 세부 정보를 취할수가 없다 
- 그룹화를 이용하면 상세정보를 그룹별로 취할 수가 있어서
- 데이터를 획득하기가 용이하다

In [220]:
p = re.compile(r'(\w+)\s+(\d+[-]\d+[-]\d+)+\s+(\w+)\s+(\d+[-]\d+[-]\d+)')
m = p.search('부산대역 010-1234-5678 부산대역2 011-1235-5679')

In [224]:
m.groups(), m.group(0), m.group(1), m.group(2), m.group(3), m.group(4)

(('부산대역', '010-1234-5678', '부산대역2', '011-1235-5679'),
 '부산대역 010-1234-5678 부산대역2 011-1235-5679',
 '부산대역',
 '010-1234-5678',
 '부산대역2',
 '011-1235-5679')

In [225]:
# for n in range(1,5):
for n in range(1, len(m.groups())+1):
    print(m.group(n))

부산대역
010-1234-5678
부산대역2
011-1235-5679

In [226]:
# 전화번호 상세 정보가 그룹화되어 있지 않다
# 그룹안에 그룹화 처리를 하면 자동분류가 된다

p = re.compile(r'(\w+)\s+((\d+)[-](\d+)[-](\d+))')
m = p.search('부산대역 010-1234-5678')

In [227]:
m.groups()

('부산대역', '010-1234-5678', '010', '1234', '5678')

In [228]:
for n in range(1, len(m.groups())+1):
    print(m.group(n))

부산대역
010-1234-5678
010
1234
5678

### 그룹된 문자열의 재창조
    - 그룹핑 : 첫번째 그룹, 두번째 그룹, 세번째 그룹...
    - \1,\2,\3,...

In [171]:
# 자기 참조는 정규식 형태도 일치하면서 값도 일치하는 경우
p = re.compile(r'(\b\w+)\s+\1')
m = p.search('python numpy pandas pandas scipy tensorflow')

In [172]:
m.group()

'pandas pandas'

In [173]:
m.groups()

('pandas',)

#### 그룹핑된 문자열 네이밍 처리

In [174]:
# (?P<이름>정규식)
p = re.compile(r'(?P<NAME>\w+)\s+((\d+)[-](\d+)[-](\d+))')
m = p.search('부산대역 010-1234-5678')

In [175]:
m.groups()

('부산대역', '010-1234-5678', '010', '1234', '5678')

In [176]:
# 이름을 부여하면 순서를 몰라도 됨
m.group(1), m.group('NAME'), m.group(2), m.group(3), m.group(4), m.group(5)

('부산대역', '부산대역', '010-1234-5678', '010', '1234', '5678')

#### 자기 참조를 했는데 이름이 있다

In [240]:
# 자기참조 그룹의 이름으로 자기참조를 수행하는 방법
# (?P=이름)
p = re.compile(r'(?P<BS>\b\w+)\s+(?P=BS)\s+(?P=BS)')
m = p.search('python numpy pandas pandas pandas tensorflow')

In [241]:
m

In [246]:
m.groups('BS')

('pandas',)

In [247]:
m.group()

'pandas pandas pandas'